<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nir charts experiment</title>
  </head>
  <body>
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <div id="table"></div>
    <div id="table2"></div>
    <select id="char_type_selector">
      <option value="pie">pie</option>
      <option value="column">column</option>
    </select>
    <ul></ul>
  <h1 >hello my friend</h1>

    <script type=text/javascript src="{{url_for('static',
     filename='jquery-1.8.3.js') }}"></script>
    <script type=text/javascript src="{{url_for('static',
     filename='underscore.js') }}"></script>
    <script type=text/javascript src="{{url_for('static',
     filename='backbone.js') }}"></script>

    <script type=text/javascript src="{{url_for('static',
     filename='charts_backbone_classes.js') }}"></script>

    <script type=text/javascript src="{{url_for('static',
     filename='server_interaction.js') }}"></script>

    <script type=text/javascript src="{{url_for('static',
     filename='app.js') }}"></script>

  </body>
</html>
