<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nir charts experiment</title>
  </head>
  <body>
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <div id="table"></div>
    <ul></ul>
  <h1 >hello my friend</h1>

    <script type=text/javascript src="{{url_for('static',
     filename='draw_table.js') }}"></script>
    <script type=text/javascript src="{{url_for('static',
     filename='jquery-1.7.1.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static',
     filename='underscore-min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static',
     filename='backbone.js') }}"></script>

  </body>
</html>
